.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #DACECD;
    text-align: end;
    padding: 0.4rem;
    max-width: 480px;

    button{
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color: #fff;
        cursor: pointer;
        filter: grayscale(60%);
        transition: filter 0.4s ease-in-out;
    }
    button:hover,
    button:active{
        //transform: rotate(90deg);
        filter: grayscale(0);
    }
 }

 @media only screen and (min-width: 481px) {
    .footer {
        position: sticky;
        transform: translate(calc(50vw - 50%));
        bottom: 0;
        left: 0;
    }
  }