.brand-head {
    padding: 0 24px;
    margin-top: 16px;
    text-align: center;
    h1{
        color:#453F42;
        font-size: 3rem;
        line-height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p{
        color:#76533F; 
        margin-top: 0.25rem;
    }
}

svg{
    width: 40px;
    height: auto;
  }

aside {
    margin: 0 auto;
    max-width: 480px;
    padding: 0 24px;
    //margin-bottom: 5rem;

    .todoItem {
        display: flex;
        align-items: center;
        //justify-content: space-between;
        margin: 2rem 0;
        border: 2px solid #76533F;
        border-radius: 5px;
        padding: 12px;
        padding-right: 0;
        position: relative;

        p:first-child{
            margin-right: 1rem;
            color:#453F42;
        }

        > div:first-of-type{
            flex-grow: 1;
            padding-right: 1rem;
            p:first-child{
                font-size: 1.25rem;
                color:#76533F;
            }
            p:nth-child(2),
            p:nth-child(3){
                color: #8C5D17;
            }
            p:last-child{
                color: #8C5D17;
            }
        }
        div.controls {
            //display: flex;
            //flex-direction: column;
            //position: relative;
            align-self: flex-start;
            img{
                cursor: pointer;
                display: block;
            }
            // .buttons{
            //     position: absolute;
            //     bottom: 0;
            //     left: 100%;
            //     right: 0;
            //     background-color: #008CBA;
            //     overflow: hidden;
            //     width: 0;
            //     height: 100%;
            //     transition: .5s ease;
            // }
            .buttons{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: row-reverse;
                position: absolute;
                left: 0;
                right: 0;
                top:0;
                bottom: 0;
                background-color: #fff;
                border-radius: 10px;
                z-index: 1;
                padding: 12px;
                padding-right: 4px;
                transition: all .3s ease-in-out;
                visibility: hidden;
                opacity: 0;
            }

            .settings{
                visibility: visible;
                opacity: 1;
            }

            button{
                //display: none;
                color: #76533F;
                border-radius: 6px;
                border:none;
                background-color:#DACECD;
                margin: 0.25rem;
                cursor: pointer;
                padding: 0.25rem;
                width: 80px;
                svg{
                    width: 1.5rem;
                    height: auto;
                }
                span{
                    display: none;
                }
            }
            
            button:hover{
                background-color: #76533F;
                color:#DACECD;
                transition: 0.5s;
                svg{
                    display: none;
                }
                span{
                    display: inline;
                }
            }
        }

        // div.controls:hover .buttons{
        //     width: 100%;
        //     left: 0;
        // }
    }
}



.button-layout{
    button{
        border: none;
        padding: 10px 16px;
        font-size: 16px;
        display: inline-block;
        text-align: center;
        width: 84px;
        cursor: pointer;
        font-weight: 500;
        border-radius: 12px;
        transition: all 0.3s ease-in-out;
    }

    > *{
        margin-left: 1rem;
    }
    
    button:first-child{
        color: #fefdef;
        background-color: #453F42;
        border: 2px solid #453F42;
    }
    button:last-child{
        color: #fefdef;
        background-color: #78a2d2;
        border: 2px solid #78a2d2;
    }
    button:first-child:hover{
        background-color: #fefdef;
        color: #453F42;
        border: 2px solid #1f212b;
    }
    button:last-child:hover{
        color: #78a2d2;
        background-color: #fff;
        border: 2px solid #1f212b;
    }
}